<div class="login-container">
    <img class="bgimage" src="../../assets/images/background.jpg">
    <div class="logo">{{companyName}}</div>
    <div class="desc">{{companyDesc}}</div>
    <div class="login-form">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="uname"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password"/>
        </div>
    </div>
</div>

